apiVersion: v1
kind: Service
metadata:
  name: myrocket-mongodb-headless
  labels:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/instance: myrocket
    app.kubernetes.io/component: mongodb
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: mongodb
      port: 27017
      targetPort: mongodb
  selector:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/instance: myrocket
    app.kubernetes.io/component: mongodb
